#/******************************************************************************
# * generated dirs, binaries and objects
# *****************************************************************************/

*.dependencies
*.o
*.so
*.so.*
*.a
*.mo
*.pot
*.pc
include
vdr
*.config
